In [7]:
import pandas as pd
import glob
import os

# –ü—É—Ç—å –∫ –ø–∞–ø–∫–µ
path = r'C:/Users/User/PycharmProjects/archive'

# –ù–∞–∑–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü (–ø–æ –∏–º–µ–Ω–∞–º —Ñ–∞–π–ª–æ–≤)
table_names = {
    "Album.csv": "albums",
    "Artist.csv": "artists",
    "Customer.csv": "customers",
    "Employee.csv": "employees",
    "Genre.csv": "genres",
    "Track.csv": "tracks",
    "Playlist.csv": "playlists",
    "Invoice.csv": "invoices"
}

# –°–ø–∏—Å–æ–∫ —Ñ–∞–π–ª–æ–≤
all_files = glob.glob(path + "/*.csv")
# print("–ù–∞–π–¥–µ–Ω–Ω—ã–µ —Ñ–∞–π–ª—ã:", all_files)

# –°–æ–∑–¥–∞—ë–º —Å–ø–∏—Å–æ–∫ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤
df_list = []

for filename in all_files:
    # –ü–æ–ª—É—á–∞–µ–º –∏–º—è —Ñ–∞–π–ª–∞
    file_name = os.path.basename(filename)
    table_name = table_names.get(file_name, "unknown")
    
    # print(f"–ß–∏—Ç–∞—é —Ñ–∞–π–ª: {file_name} –∫–∞–∫ —Ç–∞–±–ª–∏—Ü—É: {table_name}")

    # –ß–∏—Ç–∞–µ–º CSV
    df = pd.read_csv(filename, encoding='utf-8-sig', header=0)
    
    # –î–æ–±–∞–≤–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º —Ç–∞–±–ª–∏—Ü—ã
    df['table_name'] = table_name
    
    # –î–æ–±–∞–≤–ª—è–µ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ —Å–ø–∏—Å–æ–∫
    df_list.append(df)

# –û–±—ä–µ–¥–∏–Ω—è–µ–º –ø–æ —Å—Ç—Ä–æ–∫–∞–º
combined_df = pd.concat(df_list, axis=0, ignore_index=True)

# –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
combined_df.head()
# print(f"üìä –†–∞–∑–º–µ—Ä –∏—Ç–æ–≥–æ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã: {combined_df.shape}")

,AlbumId,Title,ArtistId,table_name,Name,CustomerId,FirstName,LastName,Company,Address,...,BillingCountry,BillingPostalCode,Total,PlaylistId,TrackId,MediaTypeId,Composer,Milliseconds,Bytes,UnitPrice
0,1.0,For Those About To Rock We Salute You,1.0,albums,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Balls to the Wall,2.0,albums,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Restless and Wild,2.0,albums,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,Let There Be Rock,1.0,albums,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,Big Ones,3.0,albums,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
combined_df['Name'].value_counts()

Name
Iron Maiden                                                                                 6
The Number Of The Beast                                                                     5
2 Minutes To Midnight                                                                       5
Hallowed Be Thy Name                                                                        5
Wrathchild                                                                                  5
                                                                                           ..
Buddy Guy                                                                                   1
3 Gymnop√©dies: No.1 - Lent Et Grave, No.3 - Lent Et Douloureux                              1
Music for the Funeral of Queen Mary: VI. "Thou Knowest, Lord, the Secrets of Our Hearts"    1
Jorge Vercilo                                                                               1
In My Bed                                                                                   1
Name: count, Length: 3566, dtype: int64